In [17]:
def SelectionSort(x):

  for i in range(len(x)-1): #Runs the Loop n-2 times
    im = i
    for j in range(i,len(x)): #Runs the Loop from the ith position because the numbers before i are sorted already
      if (x[j]<x[im]):
        im = j               # Finding the index which has the minimum value

    x[im],x[i] = x[i],x[im] #Swap the minimum

  return x

In [18]:
SelectionSort([2,5,1,23,90,94,62])

[1, 2, 5, 23, 62, 90, 94]

In [19]:
SelectionSort([23,1,100,923,3482,1932])

[1, 23, 100, 923, 1932, 3482]