1)  Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [1]:
expenses = [2200,2350,2600,2130,2190]

In [2]:
print('The extra Amount spent on february compared to january is ',expenses[1]-expenses[0])

The extra Amount spent on february compared to january is  150

In [3]:
print("The total expenses for the first quareter is ",expenses[0]+expenses[1]+expenses[2])

The total expenses for the first quareter is  7150

In [4]:
print("Did i spend exactly 2000 dollars in any month ",2000 in expenses)

Did i spend exactly 2000 dollars in any month  False

In [6]:
expenses.append(1980)
print(expenses)

[2200, 2350, 2600, 2130, 2190, 1980]

In [8]:
expenses[3] = expenses[3] - 200
print(expenses)

[2200, 2350, 2600, 1730, 2190, 1980]